.newCommnet-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.comment-area {
  display: flex;
  flex-direction: column;
}

.label-top {
  margin-bottom: 2%;
}

.field textarea {
  background-color: blue;
  color: white;
}

#backContainer {
  width: 50%;
  margin-top: 3%;
}

.back-btn {
  color: #000;
  text-decoration: none;
}
