.post-show-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2% 6%;
  box-sizing: border-box;
  margin: 0;
}

.postUser {
  border: 3px solid #000;
  padding: 1%;
  margin-bottom: 0.5%;
}

.postUser-Content {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  width: 100%;
  box-sizing: border-box;
}

.postUser-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.postUser-comments {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postComment-container {
  border: 3px solid #000;
  padding: 1%;
}

.add-new-btn {
  background-color: rgb(87, 128, 191);
  color: #fff;
  padding: 2% 4%;
  margin-top: 3%;
  border-radius: 9px;
  text-decoration: none;
}
